
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(to bottom, #f187c9 23%, #cf0976 95%);
}

.header {
  background: #ee0a97;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 25px 15px;
}

.navbar .title  {
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}
.title a span{
  color: #F24964;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  transition: 0.3s;
}

.navbar .links a:hover {
  color: #b3abaf;
}

.navbar .buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.navbar .buttons .login {
  font-size: 17px;
  font-weight: 500;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 45px;
  text-align: center;
  transition: 0.5s;
}

.navbar .buttons .login:hover {
  background-color: #ec5aaf;
  color: #fff;
  border: 2px solid #ec5aaf;
}

.whole-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
  max-width: 1240px;
  margin: 60px auto 0 auto;
}

.whole-sec .whole {
  max-width: 61%;
  color: #fff;
}

.whole h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.whole p {
  width: 80%;
  font-size: 18px;
  margin-bottom: 20px;
  color: #ececec;
}


.whole-sec .buttons {
  margin-top: 40px;
}

.whole-sec .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 45px;
  font-weight: 600;
  transition: 0.5s;
  display: inline-block;
}



.buttons .join {
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #b4036a;
  background-color: #b4036a;
}
.buttons .join:hover{
  background: transparent;
  border: 2px solid #fff;
}

.whole-sec .buttons .learn {
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 45px;
}

.whole-sec .buttons .learn:hover {
  border: 2px solid #b4036a;
  background-color: #b4036a;
} 

#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 1023px) {
  body{
    padding: 150px 0 100px 0;
  }
  .navbar .logo a {
    font-size: 30px;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #175d69;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  body{
    padding: 150px 0 100px 0;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #e984b6;
    flex-direction: column;
    transition: 0.3s ease;
  }


  .header .button {
    display: none;
  }
  .hero-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero-section .hero {
    max-width: 100%;
    color: #fff;
    text-align: center;
  }
  .hero p{
    font-size: 16px;
    line-height: 26px;
    width: 100%;
  }

  .hero h2{
    font-size: 30px;
  }
  .hero-section .img img {
    width: 300px;
    padding-top: 50px;
  }

}
